@font-face {
  font-family: 'core_rhino_45_regular';
  src: url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.eot");
  src: url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.woff2") format("woff2"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.woff") format("woff"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.ttf") format("truetype"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.svg#core_rhino_45_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'core_rhino_75_heavy';
  src: url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.eot");
  src: url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.eot?#iefix") format("embedded-opentype"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.woff2") format("woff2"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.woff") format("woff"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.ttf") format("truetype"), url("https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.svg#core_rhino_75_heavyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.eot?qpkj7x");
  src: url("https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.eot?qpkj7x#iefix") format("embedded-opentype"), url("https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.ttf?qpkj7x") format("truetype"), url("https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.woff?qpkj7x") format("woff"), url("https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.svg?qpkj7x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close_popup:before {
  content: "\e901";
  color: #fff;
}

.icon-Combined_Shape:before {
  content: "\e902";
  color: #fff;
}

.icon-delete_check .path1:before {
  content: "\e903";
  color: #e5004b;
}

.icon-delete_check .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: white;
}

.icon-dobr-logo .path1:before {
  content: "\e905";
  color: #ec1558;
}

.icon-dobr-logo .path2:before {
  content: "\e906";
  margin-left: -1.2998046875em;
  color: white;
}

.icon-dobr-logo .path3:before {
  content: "\e907";
  margin-left: -1.2998046875em;
  color: #008043;
}

.icon-dobr-logo .path4:before {
  content: "\e908";
  margin-left: -1.2998046875em;
  color: white;
}

.icon-Hide_password .path1:before {
  content: "\e909";
  color: #007a2d;
}

.icon-Hide_password .path2:before {
  content: "\e90a";
  margin-left: -1.7138671875em;
  color: white;
}

.icon-magnit:before {
  content: "\e90b";
  color: #e30613;
}

.icon-menu_close:before {
  content: "\e90c";
  color: #007a2d;
}

.icon-Menu-icon:before {
  content: "\e90d";
  color: #007a2d;
}

.icon-show_password:before {
  content: "\e90e";
  color: #007a2d;
}

.icon-add_check:before {
  content: "\e90f";
  color: #007a2d;
}

.icon-arrow-slide:before {
  content: "\e912";
  color: #fff;
}

body {
  padding: 0 1em;
  font-family: "core_rhino_45_regular", sans-serif;
  color: #00461a;
  font-size: 16px;
  overflow-x: hidden;
}

.ui-dialog {
  width: 285px !important;
}

.btn-primary:active:hover,
.btn-primary:active:focus {
  background-color: #ffffff;
  border-color: #ffffff;
}

.upload h2 {
  display: none;
}

.upload .img-thumbnail {
  max-height: auto;
}

.upload .receipt-photo {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.upload .receipt-photo .btn-danger {
  position: absolute;
  top: -3px;
  left: -3px;
  font-size: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #e5004b;
  border-color: #e5004b;
  width: 30px;
  height: 30px;
}

.upload .receipt-photo .btn-danger:hover {
  background-color: #fa3f73;
  border-color: #fa3f73;
}

.upload .receipt-photo .btn-danger:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/svg/close_popup.svg") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.upload .choose-file {
  display: inline-block;
  text-align: center;
  font-family: "core_rhino_75_heavy", sans-serif;
  font-size: 16px;
  color: #e5004b;
  min-width: 263px;
  padding: 15px;
  border: none;
  background-color: #ffffff;
  position: relative;
}

.upload .choose-file:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/svg/add_check.svg") no-repeat center center;
}

.upload .choose-file input {
  display: none;
}

.upload #upload {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #e5004b;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #ffffff;
  font-size: 18px;
  max-width: 260px;
  padding: 26px 20px;
  border: none;
  margin-bottom: 20px;
}

.upload #upload:hover {
  background-color: #fa3f73;
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 5px;
}

.tutorial h1 {
  display: none;
}

.tutorial .simple-photo-block {
  text-align: center;
}

.tutorial .simple-photo-block img {
  max-height: auto;
}

.tutorial .btn {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #e5004b;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #ffffff;
  font-size: 24px;
  max-width: 260px;
  padding: 26px 20px;
  border: none;
  margin-top: 30px !important;
  margin-bottom: 20px;
}

.tutorial .btn:hover {
  background-color: #fa3f73;
}

footer {
  display: none;
}

@media (max-width: 480px) {
  .tutorial .btn {
    max-width: 250px;
  }
  .upload #upload {
    font-size: 16px;
    max-width: 260px;
  }
}
