/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #00461a;
  font: 400 16px "core_rhino_45_regular", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: auto;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

label {
  margin: 0;
}

input, select {
  border: none;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.height-helper {
  min-height: 100%;
  overflow: hidden;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'core_rhino_45_regular';
  src: url("../fonts/CoreRhino/corerhino45regular-webfont.eot");
  src: url("../fonts/CoreRhino/corerhino45regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CoreRhino/corerhino45regular-webfont.woff2") format("woff2"), url("../fonts/CoreRhino/corerhino45regular-webfont.woff") format("woff"), url("../fonts/CoreRhino/corerhino45regular-webfont.ttf") format("truetype"), url("../fonts/CoreRhino/corerhino45regular-webfont.svg#core_rhino_45_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'core_rhino_75_heavy';
  src: url("../fonts/CoreRhino/corerhino75heavy-webfont.eot");
  src: url("../fonts/CoreRhino/corerhino75heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CoreRhino/corerhino75heavy-webfont.woff2") format("woff2"), url("../fonts/CoreRhino/corerhino75heavy-webfont.woff") format("woff"), url("../fonts/CoreRhino/corerhino75heavy-webfont.ttf") format("truetype"), url("../fonts/CoreRhino/corerhino75heavy-webfont.svg#core_rhino_75_heavyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSansRegular/opensansregular-webfont.eot");
  src: url("../fonts/OpenSansRegular/opensansregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/opensansregular-webfont.woff2") format("woff2"), url("../fonts/OpenSansRegular/opensansregular-webfont.woff") format("woff"), url("../fonts/OpenSansRegular/opensansregular-webfont.ttf") format("truetype"), url("../fonts/OpenSansRegular/opensansregular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?qpkj7x");
  src: url("../fonts/icomoon/icomoon.eot?qpkj7x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?qpkj7x") format("truetype"), url("../fonts/icomoon/icomoon.woff?qpkj7x") format("woff"), url("../fonts/icomoon/icomoon.svg?qpkj7x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close_popup:before {
  content: "\e901";
  color: #fff;
}

.icon-Combined_Shape:before {
  content: "\e902";
  color: #fff;
}

.icon-delete_check .path1:before {
  content: "\e903";
  color: #e5004b;
}

.icon-delete_check .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: white;
}

.icon-dobr-logo .path1:before {
  content: "\e905";
  color: #ec1558;
}

.icon-dobr-logo .path2:before {
  content: "\e906";
  margin-left: -1.2998046875em;
  color: white;
}

.icon-dobr-logo .path3:before {
  content: "\e907";
  margin-left: -1.2998046875em;
  color: #008043;
}

.icon-dobr-logo .path4:before {
  content: "\e908";
  margin-left: -1.2998046875em;
  color: white;
}

.icon-Hide_password .path1:before {
  content: "\e909";
  color: #007a2d;
}

.icon-Hide_password .path2:before {
  content: "\e90a";
  margin-left: -1.7138671875em;
  color: white;
}

.icon-magnit:before {
  content: "\e90b";
  color: #e30613;
}

.icon-menu_close:before {
  content: "\e90c";
  color: #007a2d;
}

.icon-Menu-icon:before {
  content: "\e90d";
  color: #007a2d;
}

.icon-show_password:before {
  content: "\e90e";
  color: #007a2d;
}

.icon-add_check:before {
  content: "\e90f";
  color: #007a2d;
}

.icon-arrow-slide:before {
  content: "\e912";
  color: #fff;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 960px;
  margin: 0 auto;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.justify-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 27px 0;
  position: relative;
  z-index: 11;
  font-family: "core_rhino_75_heavy", sans-serif;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: none;
  font-size: 33px;
}

.nav {
  color: #e5004b;
  width: 100%;
}

.nav_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link + .nav__link {
  margin-left: 40px;
}

.nav__link:hover, .nav__link_active {
  color: #d4d4d5;
}

.nav .container-info__score {
  display: none;
}

.logo {
  margin: -20px 30px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.logo img {
  margin-bottom: -100px;
  max-height: 145px;
}

.logo_mob {
  display: none;
}

.logo + .nav__link {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.personal-area {
  margin-left: 40px;
  width: 25%;
}

.personal-area:hover .personal-area__text_hover p {
  color: #d4d4d5;
}

.personal-area:hover .personal-area__photo_hover {
  background-color: #d4d4d5;
}

.personal-area__photo {
  margin-right: 7px;
  background-color: #e5004b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.personal-area__photo_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.personal-area__info {
  width: 100%;
}

.personal-area__text {
  text-align: center;
}

.personal-area__exit-btn {
  font-size: 12px;
  font-family: "core_rhino_45_regular", sans-serif;
  text-decoration: underline;
}

.personal-area__exit-btn:hover {
  text-decoration: underline;
}

.personal-area__no-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.personal-area__entry {
  display: none;
}

.personal-area.login_active .personal-area__photo {
  background-color: #d4d4d5;
}

.personal-area.login_active .personal-area__text {
  color: #d4d4d5;
}

.personal-area.login .personal-area__entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-area.login .personal-area__text {
  width: 70%;
}

.personal-area.login .personal-area__no-entry {
  display: none;
}

.footer {
  background-color: #005820;
  padding: 25px 0;
  color: #ffffff;
  font-size: 12px;
  position: relative;
  z-index: 11;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav li + li {
  margin-left: 20px;
}

.footer__nav li a {
  border-bottom: 1px solid #ffffff;
}

.footer__nav li a:hover {
  color: #dfdd00;
  border-bottom: 1px solid #dfdd00;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #005820;
  padding: 25px 0 20px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;
  color: #ffffff;
}

.cookies__text {
  margin: 0 auto 10px;
  width: 76%;
  font-size: 14px;
}

.cookies.js-show {
  opacity: 1;
  z-index: 99;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.popup.js-popup-show {
  z-index: 100;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__close {
  position: absolute;
  top: 3px;
  right: -35px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  text-align: center;
}

.popup__wrap {
  background-color: #ffffff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  max-width: 340px;
  width: 100%;
  padding: 20px 35px 40px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-bottom: 100px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup__check {
  width: 220px;
  margin: 20px auto 0;
  position: relative;
}

.popup__check-photo {
  text-align: center;
}

.popup__check-photo img {
  max-height: 280px;
  border: 5px solid #e6e6e6;
}

.popup__del-photo {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__title {
  text-transform: uppercase;
  font-family: "core_rhino_75_heavy", sans-serif;
  font-size: 18px;
  text-align: center;
}

.popup__title--min {
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 10px;
  margin-top: 40px;
}

.popup__text {
  text-align: center;
  color: #9f9fa1;
}

.popup__text--marginTop {
  margin-top: 30px;
}

.popup__text_color-green {
  color: #00461a;
}

.popup__text_color-green a {
  color: #e5004b;
  text-decoration: underline;
}

.icon-close_popup {
  font-size: 20px;
}

.iframe-wrapper {
  height: 60vh;
  min-height: 250px;
  width: 285px;
}

#iframe {
  height: 95%;
  width: 100%;
  margin-top: 35px;
}

span div.error {
  color: #e30613;
  font-size: 11px;
  margin-top: 3px;
}

body > .select2-container {
  width: auto !important;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 101;
}

.select2-container * {
  outline: none;
}

.select2-container .select2-selection {
  height: 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d4d4d5;
  background-color: #ffffff;
  color: #00461a;
  font-size: 16px;
  font-family: "core_rhino_75_heavy", sans-serif;
  padding: 15px 20px;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.select2-container .select2-selection__rendered {
  padding-left: 0 !important;
}

.select2-container .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection__arrow {
  height: 100% !important;
  width: 38px !important;
}

.select2-container .select2-selection__arrow::before {
  border: none;
  background: url("../img/svg/arrow-select.svg") no-repeat center/cover;
  width: 16px;
  height: 12px;
  -webkit-background-size: contain;
          background-size: contain;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.select2-container .select2-dropdown {
  border: 1px solid #d4d4d5;
  border-top: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.select2-container .select2-results__option {
  color: #00461a;
  font-family: "core_rhino_75_heavy", sans-serif;
}

.checkbox {
  position: relative;
  padding: 7px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: -2;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  font-size: 12px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.checkbox__text a {
  color: #e5004b;
  text-decoration: underline;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  border: 1px solid #d4d4d5;
  left: 0;
  top: -4px;
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/check_mark.svg") no-repeat center/cover;
  width: 10px;
  height: 9px;
  left: 4px;
  top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/check_mark.svg") no-repeat center/cover;
  width: 10px;
  height: 9px;
  left: 4px;
  top: 0;
}

body {
  position: relative;
}

body.no-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: fixed;
}

.btn {
  display: inline-block;
  text-align: center;
  font-family: "core_rhino_75_heavy", sans-serif;
}

.btn_def {
  background-color: #e5004b;
  color: #ffffff;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  font-size: 24px;
  min-width: 290px;
  padding: 26px 20px;
}

.btn_pop {
  min-width: 260px;
}

.btn_abs {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn_min {
  background-color: #e5004b;
  color: #ffffff;
  padding: 7px 20px;
  font-size: 14px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  min-width: 165px;
}

.btn_disable {
  background-color: #d4d4d5;
  pointer-events: none;
}

.btn:hover {
  background-color: #fa3f73;
  color: #ffffff;
}

.btn:focus {
  color: #ffffff;
}

.btn-wrap {
  text-align: center;
  position: relative;
}

.btn-wrap_bigMargin {
  margin-top: 35px;
}

.btn-wrap_minMargin {
  margin-top: 25px;
}

.btn-wrap_min {
  margin-top: 5px;
}

.main {
  padding-top: 30px;
  position: relative;
}

.form-wrap {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.form {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.form__globalCard {
  width: 48%;
}

.form--popupMargin {
  margin-top: 20px;
}

.form__tips {
  color: #9f9fa1;
  font-size: 12px;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
}

.form__tips--medium {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.form__tips--little {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}

.form__text {
  margin-top: 20px;
  text-align: center;
}

.form__text--minMargin {
  margin-top: 10px;
}

.form__text--noMargin {
  margin: 0;
}

.form__card {
  margin-top: 20px;
}

.form__card_flex {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.form__input {
  position: relative;
}

.form__input .js-pass {
  position: absolute;
  width: 28px;
  height: 16px;
  top: 19px;
  right: 10px;
  cursor: pointer;
  color: #e5004b;
}

.form__input_textarea textarea {
  min-height: 110px;
}

.form__input_little .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  padding-right: 15px;
}

.form__input--maxWidth {
  max-width: 240px;
  margin: 0 auto;
}

.form__step {
  text-align: center;
}

.icon-show_password:before {
  color: #e5004b;
}

.icon-show_password:hover:before {
  color: #fa3f73;
}

.icon-Hide_password {
  display: none;
}

.icon-Hide_password:before {
  color: #e5004b;
}

.icon-Hide_password:hover:before {
  color: #fa3f73;
}

.icon-Hide_password .path1:before {
  color: #e5004b;
}

.icon-Hide_password:hover .path1:before {
  color: #fa3f73;
}

input, textarea {
  border: 1px solid #d4d4d5;
  background-color: #ffffff;
  color: #00461a;
  font-size: 16px;
  font-family: "core_rhino_75_heavy", sans-serif;
  padding: 15px 20px;
  width: 100%;
}

::-ms-clear {
  display: none;
}

textarea {
  min-height: 229px;
  overflow: auto;
}

.captcha {
  background-color: #d4d4d5;
  margin: 20px -35px 10px;
  padding: 15px 35px 20px;
}

.captcha_text {
  font-size: 12px;
}

.captcha__img {
  position: relative;
}

.captcha__img:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -28px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/svg/arrow_captcha.svg") no-repeat center center;
  width: 11px;
  height: 18px;
}

.captcha__wrap {
  margin-top: 10px;
  position: relative;
}

.captcha__input {
  max-width: 120px;
  text-align: center;
}

.captcha__send {
  max-width: 120px;
}

.captcha #captcha-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  text-align: center;
}

.substrate {
  margin: 100px auto 0;
  background-color: #ffffff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 5px dotted #d4d4d5;
  padding: 40px 50px 50px;
  position: relative;
  text-align: center;
}

.substrate_mrg {
  margin-bottom: 75px;
}

.substrate--full {
  max-width: 100%;
  padding: 50px;
}

.substrate:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -90px;
  left: -190px;
  width: 371px;
  height: 650px;
  background: url("../img/set-backpack.png") no-repeat center center;
}

.substrate:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -75px;
  right: -150px;
  width: 309px;
  height: 643px;
  background: url("../img/set-juice.png") no-repeat center center;
}

.text {
  text-align: center;
}

.text_minMargin {
  margin-top: 10px;
}

.text_big {
  font-size: 16px;
}

.text_max-w {
  max-width: 340px;
  margin: 5px auto;
}

.text_alignr {
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
}

.text a {
  text-decoration: underline;
  color: #e5004b;
}

.title {
  font-family: "core_rhino_75_heavy", sans-serif;
  font-size: 24px;
  text-align: center;
}

.table {
  width: 100%;
  border-spacing: 3px;
  margin-top: 20px;
}

.table--padding {
  border-spacing: 29px;
  margin-top: -29px;
}

.table__personal td {
  padding: 20px 0;
  border-bottom: 2px dashed #d4d4d5;
}

.table__personal:last-child td {
  border-bottom: none;
}

thead th {
  text-align: center;
  color: #9f9fa1;
  font-size: 12px;
}

tbody td {
  text-align: center;
}

tbody td .check-photo {
  height: 60px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 60px;
  overflow: hidden;
  margin: 0 auto;
}

tbody td .check-photo img {
  height: 100%;
  max-width: initial;
}

.rejected a {
  text-decoration: underline;
  color: #e5004b;
  padding-right: 20px;
  position: relative;
}

.rejected a:after {
  content: "?";
  color: #ffffff;
  position: absolute;
  top: 0;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: #e5004b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.conditions {
  position: relative;
  z-index: 1;
}

.conditions_container {
  position: relative;
}

.conditions__info {
  position: relative;
  width: 49%;
  margin-top: 30px;
  font-family: "core_rhino_75_heavy", sans-serif;
  max-width: 415px;
}

.conditions__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.conditions__step {
  margin-top: 25px;
}

.conditions__step li {
  margin-bottom: 30px;
  position: relative;
}

.conditions__step li + li {
  margin-left: 34%;
  text-align: left;
}

.conditions__step li + li:before {
  content: "2";
  background-color: #e5004b;
  position: absolute;
  left: -28px;
  top: 0px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  color: #ffffff;
}

.conditions__step li:last-child:before {
  content: "3";
}

.conditions__img {
  position: relative;
  width: 50%;
}

.anim-dots {
  position: absolute;
  width: 300px;
  height: 100%;
  left: -35px;
  top: -30px;
}

.dot {
  width: 8px;
  opacity: 0;
  height: 8px;
  position: absolute;
  background: #5b108b;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-animation: dot-anim .5s;
          animation: dot-anim .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dot-1 {
  top: 20px;
  left: 120px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-2 {
  top: 35px;
  left: 130px;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.dot-3 {
  top: 50px;
  left: 135px;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.dot-4 {
  top: 65px;
  left: 138px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.dot-5 {
  top: 80px;
  left: 138px;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.dot-6 {
  top: 95px;
  left: 135px;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dot-7 {
  top: 110px;
  left: 130px;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.dot-8 {
  top: 125px;
  left: 120px;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.dot-81 {
  top: 140px;
  left: 110px;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.dot-82 {
  top: 155px;
  left: 100px;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.dot-91 {
  top: 285px;
  left: 15px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dot-92 {
  top: 300px;
  left: 5px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.dot-9 {
  top: 315px;
  left: -5px;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.dot-10 {
  top: 330px;
  left: -10px;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.dot-11 {
  top: 345px;
  left: -10px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.dot-12 {
  top: 360px;
  left: -10px;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.dot-13 {
  top: 375px;
  left: -5px;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.dot-14 {
  top: 390px;
  left: 0px;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes dot-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.woman-boy {
  opacity: 0;
  position: absolute;
  top: 315px;
  left: 25px;
  -webkit-animation: woman .8s;
          animation: woman .8s;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes woman {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes woman {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sokvruke {
  position: absolute;
  top: 150px;
  width: 60px;
  left: 15px;
  -webkit-animation: sokvruke .5s infinite;
          animation: sokvruke .5s infinite;
}

@-webkit-keyframes sokvruke {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
}

@keyframes sokvruke {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
}

.anim-smuzi {
  -webkit-animation: smuzi 1s;
          animation: smuzi 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  max-height: 128px;
}

@-webkit-keyframes smuzi {
  0% {
    bottom: -140px;
    right: 30px;
  }
  100% {
    right: -130px;
    bottom: -10px;
    width: 130px;
  }
}

@keyframes smuzi {
  0% {
    bottom: -140px;
    right: 30px;
  }
  100% {
    right: -130px;
    bottom: -10px;
    width: 130px;
  }
}

.anim-juice {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: juice 1s;
          animation: juice 1s;
  width: 50px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  max-height: 128px;
}

@-webkit-keyframes juice {
  0% {
    bottom: -140px;
    right: 30px;
  }
  100% {
    right: -40px;
    bottom: 70px;
  }
}

@keyframes juice {
  0% {
    bottom: -140px;
    right: 30px;
  }
  100% {
    right: -40px;
    bottom: 70px;
  }
}

.anim-sok {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation: sok 1s;
          animation: sok 1s;
  width: 140px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  max-height: 222px;
}

@-webkit-keyframes sok {
  0% {
    bottom: -140px;
    right: 30px;
  }
  100% {
    right: -150px;
    bottom: -150px;
  }
}

@keyframes sok {
  0% {
    bottom: -140px;
    right: 30px;
  }
  100% {
    right: -150px;
    bottom: -150px;
  }
}

.boy-juice {
  position: absolute;
  bottom: 30px;
  right: -500px;
  z-index: 2;
}

.rukzak {
  position: absolute;
  bottom: -200px;
  right: -100px;
  z-index: 1;
}

.condition-text {
  font-family: "core_rhino_45_regular", sans-serif;
  position: relative;
  margin-left: 10%;
}

.condition-text:before {
  content: "1";
  background-color: #e5004b;
  font-family: "core_rhino_75_heavy", sans-serif;
  position: absolute;
  left: -28px;
  top: 0px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  color: #ffffff;
}

.conditions-img {
  margin-bottom: -95%;
  max-width: 456px;
}

.section-rules {
  margin-top: 90px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: "core_rhino_75_heavy", sans-serif;
}

.section-rules__container {
  background-color: #007a2d;
  padding-top: 40px;
  padding-bottom: 80px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  position: relative;
}

.section-rules__container:before {
  content: "";
  position: absolute;
  top: -38px;
  left: -130px;
  z-index: -1;
  width: 225px;
  height: 301px;
  background: url("../img/mango-set.png") no-repeat center center;
}

.section-rules__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rules-swiper {
  width: 100%;
  position: relative;
}

.rules {
  margin-top: 30px;
  max-width: 670px;
  width: 100%;
  margin: 20px auto 0;
}

.rules_winners {
  margin-bottom: 50px;
}

.rules__title {
  font-family: "core_rhino_75_heavy", sans-serif;
}

.rules-item {
  width: 39%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  outline: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #e5004b;
  -webkit-background-size: 12px 20px;
          background-size: 12px 20px;
  top: 100px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  background-color: #d4d4d5;
}

.swiper-button-prev {
  background-image: url("../img/svg/arrow-slide.svg");
  left: 0;
}

.swiper-button-next {
  background-image: url("../img/svg/arrow-slide.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
}

.container-info {
  max-width: 780px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #9f9fa1;
  font-family: "open_sansregular", sans-serif;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
}

.container-info__score {
  color: #e30613;
}

.container-info__text {
  margin-top: 25px;
  padding-bottom: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container-info_big {
  margin-top: 50px;
}

.container-info_little {
  margin-top: 50px;
}

.score-logo {
  font-size: 40px;
}

.score-text {
  margin-top: 15px;
  font-family: "core_rhino_45_regular", sans-serif;
  font-size: 12px;
}

.slide-rules {
  text-align: center;
}

.slide-rules__photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-rules__photo img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.slide-rules__photo_winners {
  height: 160px;
}

.slide-rules__title {
  max-width: 230px;
  width: 100%;
  margin: 10px auto;
}

.slide-rules__title_little {
  font-family: "core_rhino_75_heavy", sans-serif;
  margin: 0 auto;
}

.slide-rules__text {
  color: #dfdd00;
}

.slide-rules__text_winners {
  color: #00461a;
  margin-top: 10px;
}

.container-img {
  position: relative;
}

.container-img_fruits-first:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -65px;
  left: -400px;
  background: url("../img/blueberries.png") no-repeat center center;
  width: 344px;
  height: 355px;
}

.container-img_fruits-first:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -50px;
  right: -440px;
  background: url("../img/blueberries_raspberries.png") no-repeat center center;
  width: 114px;
  height: 455px;
}

.container-img_fruits-second:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: -90px;
  left: -490px;
  background: url("../img/rasp.png") no-repeat center center;
  width: 356px;
  height: 275px;
}

.container-img_fruits-second:after {
  content: "";
  position: absolute;
  z-index: -2;
  top: -155px;
  right: -440px;
  background: url("../img/apple.png") no-repeat center center;
  width: 175px;
  height: 172px;
}

.container-img_others-page-first:before {
  bottom: 400px;
}

.container-img_others-page-first:after {
  bottom: 350px;
}

.container-img_others-page-second:before {
  top: -560px;
}

.container-img_others-page-second:after {
  top: -580px;
}

.personal-wrap__name {
  margin-bottom: 50px;
}

.personal-name {
  font-family: "core_rhino_75_heavy", sans-serif;
  font-size: 40px;
}

.personal-exit .personal-area__exit-btn {
  color: #e5004b;
}

.winners__table {
  height: 284px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 30px;
}

.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}

.winners__table > .scroll-element,
.winners__table > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

.winners__table > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.winners__table > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}

.winners__table > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.winners__table > .scroll-element .scroll-element_outer,
.winners__table > .scroll-element .scroll-element_track,
.winners__table > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element .scroll-element_track {
  background: #d4d4d5;
}

.winners__table > .scroll-element .scroll-bar {
  background-color: #e5004b;
}

.winners__table > .scroll-element:hover .scroll-bar {
  background-color: #fa3f73;
}

.winners__table > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #e5004b;
}

.winners__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

@media only screen and (max-width: 992px) {
  .nav__link {
    font-size: 15px;
  }
  .nav__link + .nav__link {
    margin-left: 15px;
  }
  .logo {
    margin: -20px 15px;
  }
  .logo img {
    max-height: 125px;
  }
  .personal-area {
    margin-left: 15px;
  }
  .conditions__info:after {
    display: none;
  }
  .conditions__img:after {
    display: none;
  }
  .conditions__img:before {
    display: none;
  }
  .section-rules {
    margin-top: 50px;
  }
  .section-rules__container:after {
    display: none;
  }
  .slide-rules__photo {
    padding: 0 15px;
  }
  .slide-rules__title {
    font-size: 18px;
  }
  .slide-rules__title--mobTitle {
    opacity: 1;
  }
  .slide-rules__title--common {
    margin-left: 0;
  }
  .slide-rules__title--common.active {
    margin-left: 0;
  }
  .slide-rules__text {
    font-size: 14px;
  }
  .substrate {
    margin: 60px auto 0;
  }
  .substrate_mrg {
    margin-bottom: 80px;
  }
  .substrate:before {
    top: -86px;
    left: -35px;
    width: 215px;
    height: 200px;
    background: url("../img/berries.png") no-repeat center center;
  }
  .substrate:after {
    display: none;
  }
  .winners__table {
    height: 245px;
  }
  .winners__table table {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .substrate {
    padding: 35px 10px 40px;
  }
  .winners__table {
    height: 110px;
    margin-top: 30px;
  }
  .winners__table table {
    font-size: 11px;
  }
  .winners .table--padding {
    border-spacing: 4px;
    margin-top: -4px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #007a2d;
    text-align: center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 100%;
  }
  .nav_wrap {
    padding: 80px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  .nav .header__burger {
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    height: 76px;
    background-color: #ffffff;
  }
  .nav__link {
    font-size: 17px;
    color: #ffffff;
    font-size: 24px;
    padding: 15px 0;
  }
  .nav__link + .nav__link {
    margin-left: 0;
  }
  .nav__link:hover, .nav__link_active {
    color: #ffffff;
    background-color: #005820;
  }
  .nav .logo {
    display: none;
  }
  .nav.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .nav .container-info__score {
    display: block;
    background-color: #fff;
    padding: 15px;
  }
  .nav .score-text {
    margin-top: 0;
  }
  .bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #007a2d;
    display: none;
  }
  .bg-fixed_active {
    display: block;
  }
  .logo_mob {
    margin: -20px 0;
    display: block;
  }
  .logo_mob img {
    max-height: 100px;
    margin-bottom: -50px;
  }
  .personal-area {
    margin: 40px auto 20px;
    padding: 15px 0;
    color: #ffffff;
    width: 70%;
  }
  .personal-area:hover {
    background-color: #005820;
  }
  .personal-area:hover .personal-area__text_hover p {
    color: #ffffff;
  }
  .personal-area:hover .personal-area__photo_hover {
    background-color: #007a2d;
  }
  .personal-area__photo {
    background-color: #007a2d;
    margin-right: 10px;
  }
  .personal-area__photo--gray {
    margin-right: 0;
  }
  .personal-area__text {
    font-size: 24px;
  }
  .personal-area__no-entry {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .personal-area.login .personal-area__entry {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .personal-area__info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
  }
  .header {
    position: relative;
    padding: 20px 0;
  }
  .header__burger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  .header__burger span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger img {
    position: relative;
  }
  .header__burger .js-show {
    opacity: 1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: static;
  }
  .header__burger .js-exit {
    position: absolute;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    top: 0;
  }
  .header__burger.active .js-show {
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .header__burger.active .js-exit {
    top: 0;
    position: static;
    opacity: 1;
  }
  .header__logoMini {
    display: block;
  }
  .header__logoMini + .header__logoMini {
    margin-left: 15px;
  }
  .conditions_container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .conditions__info {
    width: 100%;
  }
  .conditions__info:before {
    content: "";
    position: absolute;
    top: -48%;
    left: 36%;
    background: url("../img/blueberries_raspberries.png") no-repeat center center;
    width: 114px;
    height: 455px;
    -webkit-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  .conditions__img {
    display: none;
  }
  .rules-swiper {
    padding: 0 50px;
  }
  .rules-wrap_index {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rules-item_index {
    width: 80%;
  }
  .rules-item + .rules-item_index {
    margin-top: 40px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .rules-swiper {
    overflow: hidden;
  }
  .slide-rules__photo {
    padding: 0;
  }
  .slide-rules__title {
    font-size: 22px;
    max-width: 340px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }
  .btn--def {
    min-width: 250px;
  }
  .personal-info {
    margin-top: 40px;
  }
  .personal-info .table {
    font-size: 12px;
  }
  .personal-info .btn_min {
    min-width: 130px;
  }
  .rejected a:after {
    width: 18px;
    height: 18px;
  }
  .personal-name {
    font-size: 36px;
    line-height: 36px;
  }
  .captcha {
    margin: 20px -20px 0;
    padding: 15px 20px 20px;
  }
  .cookies__text {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .conditions__info:before {
    top: -52%;
    left: 33%;
    width: 80px;
    -webkit-background-size: contain;
            background-size: contain;
  }
  .conditions__step {
    font-size: 14px;
  }
  .condition-text {
    display: inline-block;
    font-size: 12px;
  }
  .condition-text:before {
    top: -3px;
    font-size: 14px;
  }
  .btn_def {
    min-width: 250px;
  }
  .section-rules__container {
    padding-bottom: 50px;
  }
  .slide-rules__photo_winners {
    height: 150px;
  }
  .slide-rules__title {
    font-size: 16px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .rules .btn-wrap {
    margin-top: 50px;
  }
  .title {
    font-size: 24px;
  }
  .winners__table {
    height: 405px;
  }
  .winners .form__card {
    margin-top: 0;
  }
  .winners .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .winners .table tr + tr {
    margin-top: 30px;
  }
  .winners .table .win-name {
    font-size: 16px;
    width: 100%;
    margin-bottom: 25px;
    display: block;
  }
  .winners .table .td_abs {
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    color: #9f9fa1;
    font-size: 12px;
  }
  .winners .table .win-nomber {
    width: 53%;
    left: 0;
    text-align: right;
  }
  .winners .table .win-city {
    width: 44%;
    right: 0;
    text-align: left;
  }
  .winners .table .win-prize {
    font-size: 16px;
    width: 100%;
    display: block;
  }
  .form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form__globalCard {
    width: 100%;
  }
  .form-wrap {
    margin-top: 0;
  }
  .feedback .btn {
    font-size: 16px;
  }
  .personal-info .table {
    margin: 20px auto 0;
  }
  .personal-info .table__personal td {
    padding: 0;
    border-bottom: none;
  }
  .personal-info .table thead {
    display: none;
  }
  .personal-info .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    border-bottom: 2px dashed #d4d4d5;
    padding-bottom: 40px;
  }
  .personal-info .table tr:last-child {
    border-bottom: none;
    padding-bottom: 20px;
  }
  .personal-info .table tr + tr {
    margin-top: 45px;
  }
  .personal-info .table tr td {
    margin-left: 80px;
    display: block;
  }
  .personal-info .table .personal-num {
    font-size: 21px;
  }
  .personal-info .table .personal-photo-check {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    padding-left: 10px;
  }
  .personal-info .table .btn-wrap_min {
    text-align: left;
  }
  .gift {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
  }
  .popup {
    padding: 0 10px;
  }
  .popup__wrap {
    padding: 40px 20px;
    max-width: 300px;
    top: 80px;
  }
  .popup__close {
    top: -33px;
    right: 0;
  }
  .iframe-wrapper {
    width: 270px;
  }
}
