<footer class="footer">
    <div class="container">
        <ul class="footer__nav">
            <li><a href="#">Пользовательское соглашение</a></li>
            <li><a href="#">Правила акции</a></li>
            <li><a href="#">Политика конфиденциальности</a></li>
        </ul>
    </div>
</footer>