<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__burger">
                <span class="icon-Menu-icon"></span>
            </div>
            <nav class="nav">
				<div class="nav_wrap">
					<div class="header__burger header__burger_close">
						<span class="icon-menu_close"></span>
					</div>
					<a class="nav__link nav__link_active" href="index.html">Главная</a> <!-- Active link - .active -->
					<a class="nav__link" href="winners.html">Победители</a>
					<a class="nav__link" href="personal-area.html">Правила</a>
					<div class="logo">
						<img src="img/dobr-logo.png" alt="">
					</div>
					<a class="nav__link" href="feedback.html">Обратная связь</a>
					<div class="personal-area login"> <!-- Для залогиненого юзера добавить класс - .login -->
						<div class="personal-area__no-entry js-popup-button" data-popupShow="entrance">
							<div class="personal-area__photo personal-area__photo_hover">
								<span class="icon-Combined_Shape personal-area__photo_icon"></span>
							</div>
							<div class="personal-area__text personal-area__text_hover">
								<p>Личный кабинет</p>
							</div>
						</div>
						<div class="personal-area__entry">
							<div class="personal-area__info flex-cont justify-fe">
								<div class="personal-area__photo personal-area__photo_hover">
									<span class="icon-Combined_Shape personal-area__photo_icon"></span>
								</div>
								<div class="personal-area__text personal-area__text_hover">
									<p>Ермошин Виктор Анатольевич</p>
								</div>
							</div>
							<a href="#" class="personal-area__exit-btn">Выйти</a>
						</div>
					</div>
					<div class="container-info__score">
						<div class="score-logo">
							<span class="icon-magnit"></span>
						</div>
						<div class="score-text">
							Акция действует только в розничной сети Магнит
						</div>
					</div>
				</div>
            </nav>
            <div class="logo logo_mob">
                <img src="img/dobr-logo.png" alt="">
            </div>
            <div class="bg-fixed"></div>
        </div>
    </div>
</header>