<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику
                “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы
                используем “сookies”, <a href="#">нажмите здесь</a></p>
        </div>
        <a href="#" class="btn btn_min">Принять</a>
    </div>
</div>

<!-- Popup -->
<div class="popup entrance">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Войти на сайт</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass">
                            <span id="open-eye" class="icon-show_password"></span>
                            <span id="close-eye" class="icon-Hide_password"><span class="path1"></span><span class="path2"></span></span>
                        </i>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="text text_alignr">
                    <a href="#">Забыл пароль?</a>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop btn_disable" disabled="disabled">Войти</button>
                </div>
                <div class="form__text">
                    <p>Впервые на сайте?</p>
                    <div class="text">
                        <a href="#" class="js-popup-button" data-popupShow="reg-step-1">Регистрируйся!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!--Актиный попап - .js-popup-show-->

<div class="popup reg-step-1">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Заполни, пожалуйста, все поля формы регистрации</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Отчество</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="secondname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Адрес электронной почты</span>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Город</span>
                    </div>
                    <div class="form__input">
                       <input type="text" name="city">
                    </div>
                </div>
                <div class="form__card">
                    <label class="checkbox">
                        <input type="checkbox" name="rules" required/>
                        <div class="checkbox__text">Я согласен c <a href="#">Правилами акции</a></div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="personalAgreement" required/>
                        <div class="checkbox__text">Я согласен на обработку моих персональных данных</div>
                    </label>
                </div>
                <div class="captcha">
                    <div class="form__text form__text--noMargin captcha_text">
                        <p>Введи символы с картинки:</p>
                    </div>
                    <div class="captcha__wrap flex-cont align-center justify-sb">
                        <div class="captcha__img flex-cont align-c">
                            <img src="img/nomber_captcha.jpg" alt="">
                        </div>
                        <div class="captcha__send">
                            <input class="captcha__input" type="text" name="captcha">
                        </div>
                    </div>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop btn_disable" disabled="disabled">Дальше</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-2">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Завершение регистрации</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Введи, пожалуйста, пароль, который мы отправили на твой телефон по СМС</p>
                </div>
                <div class="form__card">
                    <div class="form__input">
                        <input type="text" name="password">
                    </div>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop btn_disable" disabled="disabled">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup send-gift">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Указать данные</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Чтобы мы могли отправить приз, внимательно заполни форму. Все поля обязательны для заполнения!</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия Имя Отчество</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card form__card_flex flex-cont justify-sb">
                    <div class="form__tips">
                        <span>Дата рождения</span>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>мес</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="form__input form__input_little">
                        <select>
                            <option>год</option>
                            <option>1985</option>
                            <option>1986</option>
                            <option>1987</option>
                            <option>1988</option>
                            <option>1989</option>
                            <option>1990</option>
                        </select>
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Адрес (как в паспорте)</span>
                    </div>
                    <div class="form__input form__input_textarea">
                        <textarea required></textarea>
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Город использования сертификата</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop btn_disable" disabled="disabled">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup check-moderation">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Спасибо!</span>
        </div>
        <div class="popup__text popup__text--marginTop popup__text_color-green">
            <span>Мы получили чек и проверяем его.</span>
        </div>
        <div class="popup__text popup__text--marginTop popup__text_color-green">
            <span>Статус модерации можно посмотреть </span>
            <a href="#" class="text">в Личном кабинете.</a>
        </div>
        <div class="btn-wrap btn-wrap_minMargin">
            <button type="submit" class="btn btn_def btn_pop" disabled="disabled">Отправить</button>
        </div>
    </div>
</div>

<div class="popup check-successful">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Ваш чек отклонён</span>
        </div>
        <div class="popup__text popup__text--marginTop popup__text_color-green">
            <span>К сожалению чек уже был ранее загружен, попробуйте загрузить еще один.</span>
        </div>
        <div class="btn-wrap btn-wrap_minMargin">
            <button type="submit" class="btn btn_def btn_pop" disabled="disabled">Понятно</button>
        </div>
         <div class="popup__text popup__text--marginTop popup__text_color-green">
            <a href="#" class="text">Обратная связь</a>
        </div>
    </div>
</div>

<div class="popup check-download">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close_popup"></span>
        </div>
        <div class="popup__title">
            <span>Загрузка чека</span>
        </div>
        <div class="iframe-wrapper">
            <iframe id="iframe" src="https://tsenoanalizator.ru/receipt_frame/8caf9cdf-a333-df44-dfb0-970ca4f6208f/1189/ff9c518da59c421f45c510734d80bec3?style=https%3a%2f%2ftest4.airweb.studio%2fdobry%2fcss%2fiframe.css" class="iframe" frameborder="0"></iframe>
        </div>
    </div>
</div>