// Body BG -----------------
body {
  position: relative;

  &.no-scroll {
    overflow: hidden !important;
    height: 100%;
    width: 100%;
    position: fixed;
  }
}

// Button ---------------------
.btn {
  display: inline-block;
  text-align: center;
  font-family: $fontcr75;

  &_def {
    background-color: $pinkColor;
    color: $whiteColor;
    border-radius: 40px;
    font-size: 24px;
    min-width: 290px;
    padding: 26px 20px;
  }

  &_pop {
    min-width: 260px;
  }

  &_abs {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &_min {
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 16px;
    min-width: 165px;
  }

  &_disable {
    background-color: $grayColor1;
    pointer-events: none;
  }

  &:hover {
    background-color: $pinkColorHover;
    color: $whiteColor;
  }

  &:focus {
    color: $whiteColor;
  }
}

.btn-wrap {
  text-align: center;
  position: relative;

  &_bigMargin {
    margin-top: 35px;
  }

  &_minMargin {
    margin-top: 25px;
  }

  &_min {
    margin-top: 5px;
  }
}

// Main ------------------------
.main {
  padding-top: 30px;
  position: relative;
}

// Form ---------------------
.form-wrap {
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;

  &__globalCard {
    width: 48%;
  }

  &--popupMargin {
    margin-top: 20px;
  }

  &__tips {
    color: $grayColor2;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: left;
    width: 100%;

    &--medium {
      font-size: 16px;
      text-align: center;
      margin-bottom: 5px;
	}
	
	&--little {
		font-size: 12px;
		text-align: center;
		margin-bottom: 5px;
	}
  }

  &__text {
    margin-top: 20px;
    text-align: center;

    &--minMargin {
      margin-top: 10px;
    }

    &--noMargin {
      margin: 0;
    }
  }

  &__card {
    margin-top: 20px;

    &_flex {
      flex-wrap: wrap;
    }
  }

  &__input {
    position: relative;

    .js-pass {
      position: absolute;
      width: 28px;
      height: 16px;
      top: 19px;
      right: 10px;
      cursor: pointer;
      color: $pinkColor;
    }

    &_textarea {
      textarea {
        min-height: 110px;
      }
    }

    &_little {
      .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 14px;
        padding-right: 15px;
      }
    }

    &--maxWidth {
      max-width: 240px;
      margin: 0 auto;
    }
  }

  &__step {
    text-align: center;
  }
}

.icon-show_password {
  &:before {
    color: $pinkColor;
  }

  &:hover:before {
    color: $pinkColorHover;
  }
}

.icon-Hide_password {
    display: none;

    &:before {
      color: $pinkColor;
    }

    &:hover:before {
      color: $pinkColorHover;
    }

    & .path1 {
      &:before {
        color: $pinkColor;
      }
    }
}

.icon-Hide_password:hover .path1:before {
  color: $pinkColorHover;
}

input, textarea {
  border: 1px solid $grayColor1;
  background-color: $whiteColor;
  color: $color;
  font-size: 16px;
  font-family: $fontcr75;
  padding: 15px 20px;
  width: 100%;
}

::-ms-clear {
    display: none;
}

textarea {
  min-height: 229px;
  overflow: auto;
}

// Captcha -----------------
.captcha {
  background-color: $grayColor1;
  margin: 20px -35px 10px;
  padding: 15px 35px 20px;

  &_text {
    font-size: 12px;
  }

  &__img {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -28px;
      transform: translateY(-50%);
      background: url("../img/svg/arrow_captcha.svg") no-repeat center center;
      width: 11px;
      height: 18px;
    }
  }

  &__wrap {
    margin-top: 10px;
    position: relative;
  }

  &__input {
    max-width: 120px;
    text-align: center;
  }

  &__send {
    max-width: 120px;
  }

  #captcha-error {
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

// Substrate ----------------
.substrate {
  margin: 100px auto 0;
  background-color: $whiteColor;
  border-radius: 25px;
  border: 5px dotted $grayColor1;
  padding: 40px 50px 50px;
  position: relative;
  text-align: center;

  &_mrg {
    margin-bottom: 75px;
  }

  &--full {
    max-width: 100%;
    padding: 50px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -90px;
    left: -190px;
    width: 371px;
    height: 650px;
    background: url("../img/set-backpack.png") no-repeat center center;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -75px;
    right: -150px;
    width: 309px;
    height: 643px;
    background: url("../img/set-juice.png") no-repeat center center;
  }
}

// Text ---------------------
.text {
  text-align: center;

  &_minMargin {
    margin-top: 10px;
  }

  &_big {
    font-size: 16px;
  }

  &_max-w {
    max-width: 340px;
    margin: 5px auto;
  }

  &_alignr {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
  }

  a {
      text-decoration: underline;
      color: $pinkColor;
    }
}

// Title ----------------------
.title {
  font-family: $fontcr75;
  font-size: 24px;
  text-align: center;
}

// Table ----------------------
.table {
  width: 100%;
  border-spacing: 3px;
  margin-top: 20px;

  &--padding {
    border-spacing: 29px;
    margin-top: -29px;
  }

  &__personal {
    td {
        padding: 20px 0;
        border-bottom: 2px dashed $grayColor1;
    }

    &:last-child {
        td {
            border-bottom: none;
        }
    }
  }
}

thead th {
  text-align: center;
  color: $grayColor2;
  font-size: 12px;
}

tbody td {
  text-align: center;

  .check-photo {
    height: 60px;
    border-radius: 10px;
    width: 60px;
    overflow: hidden;
    margin: 0 auto;

    img {
      height: 100%;
      max-width: initial;
    }
  }
}

.rejected {
    a {
        text-decoration: underline;
        color: $pinkColor;
        padding-right: 20px;
        position: relative;

        &:after {
            content: "?";
            color: $whiteColor;
            position: absolute;
            top: 0;
            right: -8px;
            width: 20px;
            height: 20px;
            background-color: $pinkColor; 
            border-radius: 50%;
        }
    }
}

// Conditions -------------------
.conditions {
  position: relative;
  z-index: 1;

  &_container {
    position: relative;
  }

  &__info {
    position: relative;
    width: 49%;
    margin-top: 30px;
    font-family: $fontcr75;
    max-width: 415px;
  }

  &__content {
    flex-direction: column;
    text-align: center;
  }

  &__step {
    margin-top: 25px;

    & li {
      margin-bottom: 30px;
      position: relative;

      & + li {
        margin-left: 34%;
        text-align: left;
        &:before {
          content: "2";
          background-color: $pinkColor;
          position: absolute;
          left: -28px;
          top: 0px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          text-align: center;
          color: $whiteColor;
        }
      }

      &:last-child {
        &:before {
          content: "3";
        }
      }
    }
  }

  &__img {
    position: relative;
    width: 50%;
  }
}

.anim-dots {
    position: absolute;
    width: 300px;
    height: 100%;
	left: -35px;
    top: -30px;
}

.dot {
    width: 8px;
    opacity: 0;
    height: 8px;
    position: absolute;
    background: #5b108b;
    border-radius: 50px;
    animation: dot-anim .5s;
    animation-fill-mode: forwards;
}

.dot-1 {
    top: 20px;
    left: 120px;
    animation-delay: 0s;
}

.dot-2 {
    top: 35px;
    left: 130px;
    animation-delay: .1s;
}

.dot-3 {
    top: 50px;
    left: 135px;
    animation-delay: .2s;
}

.dot-4 {
    top: 65px;
    left: 138px;
    animation-delay: .3s;
}

.dot-5 {
    top: 80px;
    left: 138px;
    animation-delay: .4s;
}

.dot-6 {
    top: 95px;
    left: 135px;
    animation-delay: .5s;
}

.dot-7 {
    top: 110px;
    left: 130px;
    animation-delay: .6s;
}

.dot-8 {
    top: 125px;
    left: 120px;
    animation-delay: .7s;
}

.dot-81 {
    top: 140px;
    left: 110px;
    animation-delay: .8s;
}

.dot-82 {
    top: 155px;
    left: 100px;
    animation-delay: .9s;
}

.dot-91 {
    top: 285px;
    left: 15px;
    animation-delay: 1s;
}

.dot-92 {
    top: 300px;
    left: 5px;
    animation-delay: 1.2s;
}

.dot-9 {
    top: 315px;
    left: -5px;
    animation-delay: 1.3s;
}

.dot-10 {
    top: 330px;
    left: -10px;
    animation-delay: 1.4s;
}

.dot-11 {
    top: 345px;
    left: -10px;
    animation-delay: 1.5s;
}

.dot-12 {
    top: 360px;
    left: -10px;
    animation-delay: 1.6s;
}

.dot-13 {
    top: 375px;
    left: -5px;
    animation-delay: 1.7s;
}

.dot-14 {
    top: 390px;
    left: 0px;
    animation-delay: 1.8s;
}

@keyframes dot-anim {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

.woman-boy {
    opacity: 0;
    position: absolute;
    top: 315px;
    left: 25px;
    animation: woman .8s;
    animation-delay: 1.9s;
    animation-fill-mode: forwards;
}

@keyframes woman {
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
		transform: scale(1.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.sokvruke {
    position: absolute;
    top: 150px;
    width: 60px;
    left: 15px;
    animation: sokvruke .5s infinite;
}

@keyframes sokvruke {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(.5deg);
	}
	66% {
		transform: rotate(0deg);
	}
	
    100% {
		transform: rotate(-0.5deg);
	}
}

.anim-smuzi {
    animation: smuzi 1s;
	animation-fill-mode: forwards;
	max-height: 128px;
}

@keyframes smuzi {
	0% {
		bottom: -140px;
		right: 30px;
	}
	100% {
		right: -130px;
		bottom: -10px;
		width: 130px;
	}
}

.anim-juice {
    transform: rotate(20deg);
    animation: juice 1s;
    width: 50px;
	animation-fill-mode: forwards;
	max-height: 128px;
}

@keyframes juice {
	0% {
		bottom: -140px;
		right: 30px;
	}
	100% {
		right: -40px;
    	bottom: 70px;
	}
}

.anim-sok {
    transform: rotate(60deg);
    animation: sok 1s;
    width: 140px;
	animation-fill-mode: forwards;
	max-height: 222px;
}

@keyframes sok {
	0% {
		bottom: -140px;
		right: 30px;
	}
	100% {
		right: -150px;
    	bottom: -150px;
	}
}

.boy-juice {
    position: absolute;
    bottom: 30px;
    right: -500px;
	z-index: 2;
}

.rukzak {
    position: absolute;
    bottom: -200px;
    right: -100px;
    z-index: 1;
}

.condition-text {
  font-family: $fontcr45;
  position: relative;
  margin-left: 10%;

  &:before {
    content: "1";
    background-color: $pinkColor;
    font-family: $fontcr75;
    position: absolute;
    left: -28px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: $whiteColor;
  }
}

.conditions-img {
  margin-bottom: -95%;
  max-width: 456px;
}

// Rules -----------------
.section-rules {
  margin-top: 90px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: $whiteColor;
  font-family: $fontcr75;

  &__container {
    background-color: $geenColor;
    padding-top: 40px;
    padding-bottom: 80px;
    border-radius: 40px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -38px;
      left: -130px;
      z-index: -1;
      width: 225px;
      height: 301px;
      background: url("../img/mango-set.png") no-repeat center center;
    }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: -270px;
    //   right: -150px;
    //   z-index: -1;
    //   width: 332px;
    //   height: 439px;
    //   background: url("../img/rukzak.png") no-repeat center center;
    // }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.rules-swiper {
  width: 100%;
  position: relative;
}

.rules {
  margin-top: 30px;
  max-width: 670px;
  width: 100%;
  margin: 20px auto 0;

  &_winners {
    margin-bottom: 50px;
  }

  &__title {
    font-family: $fontcr75;
  }
}

.rules-item {
  width: 39%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $pinkColor;
    background-size: 12px 20px;
    top: 100px;

    &.swiper-button-disabled {
        opacity: 1;
        background-color: $grayColor1;
  }
}

.swiper-button-prev {
    background-image: url("../img/svg/arrow-slide.svg");
    left: 0;
}

.swiper-button-next {
    background-image: url("../img/svg/arrow-slide.svg");
    transform: rotate(180deg);
    right: 0;
}

.container-info {
  max-width: 780px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $grayColor2;
  font-family: $fontopens;
  font-size: 10px;
  line-height: 11px;
  text-align: center;

  &__score {
    color: $redColor;
  }

  &__text {
    margin-top: 25px;
    padding-bottom: 20px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  &_big {
    margin-top: 50px;
  }

  &_little {
    margin-top: 50px;
  }
}

.score-logo {
  font-size: 40px;
}

.score-text {
  margin-top: 15px;
  font-family: $fontcr45;
  font-size: 12px;
}

// Default Rules Slide ----------
.slide-rules {
  text-align: center;

  &__photo {
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;

    & img {
        flex-shrink: 0;
    }

    &_winners {
        height: 160px;
    }
  }

  &__title {
    max-width: 230px;
    width: 100%;
    margin: 10px auto;

    &_little {
        font-family: $fontcr75;
        margin: 0 auto;
    }
  }

  &__text {
    color: $yellowColor;

    &_winners {
        color: $color;
        margin-top: 10px;
    }
  }
}

// Paralax-fruit ---------------
.container-img {
  position: relative;
  
  &_fruits-first {
    &:before {
      content: "";
      position: absolute;
      z-index: -2;
      bottom: -65px;
      left: -400px;
      background: url("../img/blueberries.png") no-repeat center center;
      width: 344px;
      height: 355px;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -2;
      bottom: -50px;
      right: -440px;
      background: url("../img/blueberries_raspberries.png") no-repeat center center;
      width: 114px;
      height: 455px;
    }
  }

  &_fruits-second {
    &:before {
      content: "";
      position: absolute;
      z-index: -2;
      top: -90px;
      left: -490px;
      background: url("../img/rasp.png") no-repeat center center;
      width: 356px;
      height: 275px;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -2;
      top: -155px;
      right: -440px;
      background: url("../img/apple.png") no-repeat center center;
      width: 175px;
      height: 172px;
    }
  }

  &_others-page-first {
     &:before {
        bottom: 400px;
     }

     &:after {
        bottom: 350px;
     }
  }

  &_others-page-second {
     &:before {
        top: -560px;
     }

     &:after {
        top: -580px;
     }
  }
}

// Personal Area ----------------
.personal-wrap {
    &__name {
        margin-bottom: 50px;
    }
}

.personal-name {
    font-family: $fontcr75;
    font-size: 40px;
}

.personal-exit {
    .personal-area__exit-btn {
        color: $pinkColor;
    }
}

// Winners Page ------------
.winners {
  &__table {
    height: 284px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 30px;
  }
}

// For IE --------------
.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}

// Scroll -----------------
.winners__table > .scroll-element,
.winners__table > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}
 
.winners__table > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.winners__table > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
 
.winners__table > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
    transition: none;
}
 
.winners__table > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.winners__table > .scroll-element .scroll-element_outer,
.winners__table > .scroll-element .scroll-element_track,
.winners__table > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: none;
}
 
.winners__table > .scroll-element .scroll-element_track {
 background: $grayColor1;
}
.winners__table > .scroll-element .scroll-bar { 
    background-color: $pinkColor; 
}
.winners__table > .scroll-element:hover .scroll-bar { 
    background-color: $pinkColorHover; 
}
.winners__table > .scroll-element.scroll-draggable .scroll-bar { 
    background-color: $pinkColor; 
}
 
.winners__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
    transition: none;
}
.winners__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px; 
    transition: none;
}

.winners__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { 
    left: -12px; 
    transition: none;
}
.winners__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { 
    top: -12px; 
    transition: none;
}
