@font-face {
    font-family: 'core_rhino_45_regular';
    src: url('../fonts/CoreRhino/corerhino45regular-webfont.eot');
    src: url('../fonts/CoreRhino/corerhino45regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CoreRhino/corerhino45regular-webfont.woff2') format('woff2'),
         url('../fonts/CoreRhino/corerhino45regular-webfont.woff') format('woff'),
         url('../fonts/CoreRhino/corerhino45regular-webfont.ttf') format('truetype'),
         url('../fonts/CoreRhino/corerhino45regular-webfont.svg#core_rhino_45_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_rhino_75_heavy';
    src: url('../fonts/CoreRhino/corerhino75heavy-webfont.eot');
    src: url('../fonts/CoreRhino/corerhino75heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CoreRhino/corerhino75heavy-webfont.woff2') format('woff2'),
         url('../fonts/CoreRhino/corerhino75heavy-webfont.woff') format('woff'),
         url('../fonts/CoreRhino/corerhino75heavy-webfont.ttf') format('truetype'),
         url('../fonts/CoreRhino/corerhino75heavy-webfont.svg#core_rhino_75_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSansRegular/opensansregular-webfont.eot');
    src: url('../fonts/OpenSansRegular/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansRegular/opensansregular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansRegular/opensansregular-webfont.woff') format('woff'),
         url('../fonts/OpenSansRegular/opensansregular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSansRegular/opensansregular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?qpkj7x');
  src:  url('../fonts/icomoon/icomoon.eot?qpkj7x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?qpkj7x') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?qpkj7x') format('woff'),
    url('../fonts/icomoon/icomoon.svg?qpkj7x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close_popup:before {
  content: "\e901";
  color: #fff;
}
.icon-Combined_Shape:before {
  content: "\e902";
  color: #fff;
}
.icon-delete_check .path1:before {
  content: "\e903";
  color: rgb(229, 0, 75);
}
.icon-delete_check .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dobr-logo .path1:before {
  content: "\e905";
  color: rgb(236, 21, 88);
}
.icon-dobr-logo .path2:before {
  content: "\e906";
  margin-left: -1.2998046875em;
  color: rgb(255, 255, 255);
}
.icon-dobr-logo .path3:before {
  content: "\e907";
  margin-left: -1.2998046875em;
  color: rgb(0, 128, 67);
}
.icon-dobr-logo .path4:before {
  content: "\e908";
  margin-left: -1.2998046875em;
  color: rgb(255, 255, 255);
}
.icon-Hide_password .path1:before {
  content: "\e909";
  color: rgb(0, 122, 45);
}
.icon-Hide_password .path2:before {
  content: "\e90a";
  margin-left: -1.7138671875em;
  color: rgb(255, 255, 255);
}
.icon-magnit:before {
  content: "\e90b";
  color: #e30613;
}
.icon-menu_close:before {
  content: "\e90c";
  color: #007a2d;
}
.icon-Menu-icon:before {
  content: "\e90d";
  color: #007a2d;
}
.icon-show_password:before {
  content: "\e90e";
  color: #007a2d;
}
.icon-add_check:before {
  content: "\e90f";
  color: #007a2d;
}
.icon-arrow-slide:before {
  content: "\e912";
  color: #fff;
}