.footer {
  background-color: $footerBg;
  padding: 25px 0;
  color: $whiteColor;
  font-size: 12px;
  position: relative;
  z-index: 11;
  
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      & + li {
        margin-left: 20px;
      }
      a {
        border-bottom: 1px solid $whiteColor;

        &:hover {
          color: $yellowColor;
          border-bottom: 1px solid $yellowColor;
        }
      }
    }
  }
}