// Header
.header {
  padding: 27px 0;
  position: relative;
  z-index: 11;
  font-family: $fontcr75;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
    font-size: 33px;
  }
}

.nav {
	color: $pinkColor;
	width: 100%;

  &_wrap {
	display: flex;
	justify-content: space-between;
  }

  &__link {
    & + .nav__link {
      margin-left: 40px;
    }

    &:hover,
    &_active {
      color: $grayColor1;
    }
  }

  .container-info__score {
    display: none;
  }
}

.logo {
  margin: -20px 30px;
  flex-shrink: 0;

  img {
	  margin-bottom: -100px;
	  max-height: 145px;
  }

  &_mob {
    display: none;
  }

  & + .nav__link {
    flex-shrink: 0;
  }
}

.personal-area {
  margin-left: 40px;
  width: 25%;

  &:hover .personal-area__text_hover p {
    color: $grayColor1;
  }

  &:hover .personal-area__photo_hover {
    background-color: $grayColor1;
  }

  &__photo {
    margin-right: 7px;
    background-color: $pinkColor;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    flex-shrink: 0;

    &_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__info {
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  &__exit-btn {
    font-size: 12px;
    font-family: $fontcr45;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &__no-entry {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__entry {
    display: none;
  }

  &.login {

	&_active {
		.personal-area__photo {
			background-color: $grayColor1;
		}

		.personal-area__text {
			color: $grayColor1;
		}
	}

    .personal-area__entry {
      display: flex;
      align-items: flex-end;
	  flex-direction: column;
	}
	
	.personal-area__text {
		width: 70%;
	}

    .personal-area__no-entry {
      display: none;
    }
  }
}

