@media only screen and (max-width: 992px) {
  // Header Media ------------------
  .nav {
    &__link {
      font-size: 15px;

      & + .nav__link {
        margin-left: 15px;
      }
    }
  }

  .logo {
	margin: -20px 15px;
	
	img {
		max-height: 125px;
	}
  }

  .personal-area {
    margin-left: 15px;
  }

  // Conditions -------------------
  .conditions__info {
    &:after {
      display: none;
    }
  }

  .conditions__img {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  
  .section-rules {
    margin-top: 50px;

    &__container {
      &:after {
        display: none;
      }
    }
  }
  
  .slide-rules {
    &__photo {
      padding: 0 15px;
    }

    &__title {
      font-size: 18px;

      &--mobTitle {
        opacity: 1;
      }

      &--common {
        margin-left: 0;

        &.active {
          margin-left: 0;
        }
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  // Substrate ----------------
  .substrate {
    margin: 60px auto 0;

    &_mrg {
      margin-bottom: 80px;
    }

    &:before {
      top: -86px;
      left: -35px;
      width: 215px;
      height: 200px;
      background: url("../img/berries.png") no-repeat center center;
    }

    &:after {
      display: none;
    }
  }

  // Winners ----------------
  .winners {

    &__table {
      height: 245px;

      table {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  // Substrate ----------------
  .substrate {
    padding: 35px 10px 40px;
  }

  // Winners ----------------
  .winners {

    &__table {
      height: 110px;
      margin-top: 30px;

      table {
        font-size: 11px;
      }
    }

    .table--padding {
      border-spacing: 4px;
      margin-top: -4px;
    }
  }

  // Header Media ------------------
  .nav {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $geenColor;
    text-align: center;
	transform: translateY(-100%);
	height: 100%;
	
	&_wrap {
		padding: 80px 0 0;
		flex-direction: column;
		overflow: scroll;
		overflow-x: hidden;
		height: 100%;
	}

    .header__burger {
      position: absolute;
      top: 0;
      left: 0;
      width: 76px;
      height: 76px;
      background-color: $whiteColor;
    }

    &__link {
      font-size: 17px;
      color: $whiteColor;
      font-size: 24px;
      padding: 15px 0;

      & + .nav__link {
        margin-left: 0;
      }

      &:hover,
      &_active {
        color: $whiteColor;
        background-color: $cookieBg;
      }
    }

    & .logo {
      display: none;
    }

    &.active {
      transform: translateY(0);
    }

    .container-info__score {
      display: block;
      background-color: #fff;
      padding: 15px;
    }

    .score-text  {
      margin-top: 0;
    }
  }

  .bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $geenColor;
    display: none;

    &_active {
      display: block;
    }
  }

  .logo_mob {
    margin: -20px 0;
    display: block;

    img {
		max-height: 100px;
      	margin-bottom: -50px;
    }
  }

  .personal-area {
    margin: 40px auto 20px;
    padding: 15px 0;
    color: $whiteColor;
    width: 70%;

    &:hover {
      background-color: $cookieBg;
    }

    &:hover .personal-area__text_hover p{
      color: $whiteColor;
    }

    &:hover .personal-area__photo_hover {
      background-color: $geenColor;
    }

    &__photo {
      background-color: $geenColor;
      margin-right: 10px;
      
      &--gray {
        margin-right: 0;
      }
    }

    &__text {
      font-size: 24px;
    }

    &__no-entry {
      justify-content: center;
    }

    &.login {
      .personal-area__entry {
        align-items: center;
      }
    }

    &__info {
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
    }
  }

  .header {
    position: relative;
    padding: 20px 0;

    &__burger {
      position: relative;
      display: block;
      cursor: pointer;
      width: 50px;
      height: 50px;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        position: relative;
      }

      .js-show {
        opacity: 1;
        transition: all .2s linear;
        position: static;
      }

      .js-exit {
        position: absolute;
        opacity: 0;
        transition: all .2s linear;
        top: 0;
      }

      &.active {
        .js-show {
          opacity: 0;
          position: absolute;
          top: 0;
        }

        .js-exit {
          top: 0;
          position: static;
          opacity: 1;
        }
      }
    }

    &__logoMini {
      display: block;

      & + .header__logoMini {
        margin-left: 15px;
      }
    }
  }

 // Conditions -------------------
  .conditions_container  {
      justify-content: center;
  }

  .conditions__info {
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      top: -48%;
      left: 36%;
      background: url("../img/blueberries_raspberries.png") no-repeat center center;
      width: 114px;
      height: 455px;
      transform: rotate(-75deg);
    }
  }

  .conditions__img {
    display: none;
  }

  .rules-swiper {
    padding: 0 50px;
  }

  .rules-wrap {
    &_index {
      flex-direction: column;
      align-items: center;
    }
  }

  .rules-item {
    &_index {
      width: 80%;
    }

    & + .rules-item_index {
      margin-top: 40px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }

  .rules-swiper {
    overflow: hidden;
  }

  .slide-rules {
    &__photo {
      padding: 0;
    }

    &__title {
      font-size: 22px;
      max-width: 340px;
    }

    &__text {
      font-size: 16px;
    }
  }

  // Footer -------------------
  .footer {
    &__nav {
      flex-direction: column;
      align-items: center;

      li {

        & + li {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }

  // Btn
  .btn {

    &--def {
      min-width: 250px;
    }
  }

  // Personal Area Page -------------
  .personal-info {
    margin-top: 40px;

    .table {
      font-size: 12px;
    }

    .btn_min {
      min-width: 130px;
    }
  }

  .rejected {
    a {
      &:after {
        width: 18px;
        height: 18px;
      }
    }
  }

  .personal-name {
    font-size: 36px;
    line-height: 36px;
  }

  // Captcha ------------------
  .captcha {
    margin: 20px -20px 0;
    padding: 15px 20px 20px;
  }

  // Cookie
  .cookies__text {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {

  // Conditions -------------------
  .conditions__info {
    &:before {
      top: -52%;
      left: 33%;
      width: 80px;
      background-size: contain;
    }
  }

  .conditions__step {
    font-size: 14px;
  }

  .condition-text {
    display: inline-block;
    font-size: 12px;

    &:before {
      top: -3px;
      font-size: 14px;
    }
  }

  .btn_def {
    min-width: 250px;
  }

  .section-rules__container  {
    padding-bottom: 50px;
  }

  .slide-rules {

    &__photo {
      &_winners{
        height: 150px;
      }
    }

    &__title {
      font-size: 16px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .rules {

    .btn-wrap {
      margin-top: 50px;
    }
  }

  // Title ---------------
  .title {
    font-size: 24px;
  }

  // Winners ----------------
  .winners {

    &__table {
      height: 405px;
    }

    .form__card {
      margin-top: 0;
    }

    .table {

      tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        & + tr {
          margin-top: 30px;
        }
      }

      .win-name {
        font-size: 16px;
        width: 100%;
        margin-bottom: 25px;
        display: block;
      }

      .td_abs {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        color: $grayColor2;
        font-size: 12px;
      }

      .win-nomber {
        width: 53%;
        left: 0;
        text-align: right;
      }

      .win-city {
        width: 44%;
        right: 0;
        text-align: left;
      }

      .win-prize {
        font-size: 16px;
        width: 100%;
        display: block;
      }
    }
  }

  // Form ---------------------
  .form {
    flex-wrap: wrap;

    &__globalCard {
      width: 100%;
    }
  }

  .form-wrap {
    margin-top: 0;
  }

  // Feedback --------------------
  .feedback {

    .btn {
      font-size: 16px;
    }
  }

  // Personal Area Page -------------
  .personal-info {

    .table {
      margin: 20px auto 0;

      &__personal {
        td {
          padding: 0;
          border-bottom: none;
        }
      }

      thead {
        display: none;
      }

      tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        border-bottom: 2px dashed $grayColor1;
        padding-bottom: 40px;

        &:last-child {
          border-bottom: none;
          padding-bottom: 20px;
        }

        & + tr {
          margin-top: 45px;
        }

        td {
          margin-left: 80px;
          display: block;
        }
      }

      .personal-num {
        font-size: 21px;
      }

      .personal-photo-check {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        padding-left: 10px;
      }

      .btn-wrap_min {
        text-align: left;
      }
    }
  }

  .gift {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
  }

  // PopUp ---------------------
  .popup {
    padding: 0 10px;

    &__wrap {
      padding: 40px 20px;
      max-width: 300px;
      top: 80px;
    }

    &__close {
      top: -33px;
      right: 0;
    }
  }

  // Iframe
  .iframe-wrapper {
    width: 270px;
  }

}