// Cookies -----------
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $cookieBg;
  padding: 25px 0 20px;
  text-align: center;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;
  color: $whiteColor;

  &__text {
    margin: 0 auto 10px;
    width: 76%;
    font-size: 14px;
  }

  &.js-show {
    opacity: 1;
    z-index: 99;
  }
}

// Popup -------------
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all .2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;

  // Show
  &.js-popup-show {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: 3px;
    right: -35px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    text-align: center;
  }

  &__wrap {
    background-color: $whiteColor;
    border-radius: 25px;
    max-width: 340px;
    width: 100%;
    padding: 20px 35px 40px;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-bottom: 100px;
    transform: translateX(-50%);
  }

  &__check {
    width: 220px;
    margin: 20px auto 0;
    position: relative;
  }

  &__check-photo {
    text-align: center;

    img {
      max-height: 280px;
      border: 5px solid #e6e6e6;
    }
  }

  &__del-photo {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__title {
    text-transform: uppercase;
    font-family: $fontcr75;
    font-size: 18px;
    text-align: center;

    &--min {
      font-size: 21px;
      color: #4a4a4a;
      margin-bottom: 10px;
      margin-top: 40px;
    }
  }

  &__text {
    text-align: center;
    color: $grayColor2;

    &--marginTop {
      margin-top: 30px;
    }

    &_color-green {
      color: $color;

      a {
        color: $pinkColor;
        text-decoration: underline;
      }
    }
  }
}

.icon-close_popup {
  font-size: 20px;
}

// Iframe
.iframe-wrapper {
    height: 60vh;
    min-height: 250px;
    width: 285px;
}
#iframe {
  height: 95%;
  width: 100%;
  margin-top: 35px;
}

// Error Validate
span div.error {
  color: $redColor;
  font-size: 11px;
  margin-top: 3px;
}