// Reset ---------------
$fontcr45: 'core_rhino_45_regular', sans-serif;
$fontcr75: 'core_rhino_75_heavy', sans-serif;
$fontopens: 'open_sansregular', sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$color: #00461a;

// Color ---------------
$whiteColor: #ffffff;
$redColor: #e30613;
$grayColor1: #d4d4d5;
$grayColor2: #9f9fa1;
$geenColor: #007a2d;
$yellowColor:  #dfdd00;
$pinkColor: #e5004b;
$pinkColorHover: #fa3f73;

// Cookies ----------
$cookieBg: #005820;

// Button -----------
$btnDefBg: #e5004b;
$btnHovBg:  #fa3f73;
$btnDnBg: #d4d4d5;

// Rules ------------
$rulesBg: #007a2d;

// Footer -----------
$footerBg: #005820;