@import "var";

@font-face {
    font-family: 'core_rhino_45_regular';
    src: url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.eot');
    src: url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.woff2') format('woff2'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.woff') format('woff'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.ttf') format('truetype'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino45regular-webfont.svg#core_rhino_45_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_rhino_75_heavy';
    src: url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.eot');
    src: url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.woff2') format('woff2'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.woff') format('woff'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.ttf') format('truetype'),
         url('https://test4.airweb.studio/dobry/fonts/CoreRhino/corerhino75heavy-webfont.svg#core_rhino_75_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.eot?qpkj7x');
  src:  url('https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.eot?qpkj7x#iefix') format('embedded-opentype'),
    url('https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.ttf?qpkj7x') format('truetype'),
    url('https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.woff?qpkj7x') format('woff'),
    url('https://test4.airweb.studio/dobry/fonts/icomoon/icomoon.svg?qpkj7x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close_popup:before {
  content: "\e901";
  color: #fff;
}
.icon-Combined_Shape:before {
  content: "\e902";
  color: #fff;
}
.icon-delete_check .path1:before {
  content: "\e903";
  color: rgb(229, 0, 75);
}
.icon-delete_check .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dobr-logo .path1:before {
  content: "\e905";
  color: rgb(236, 21, 88);
}
.icon-dobr-logo .path2:before {
  content: "\e906";
  margin-left: -1.2998046875em;
  color: rgb(255, 255, 255);
}
.icon-dobr-logo .path3:before {
  content: "\e907";
  margin-left: -1.2998046875em;
  color: rgb(0, 128, 67);
}
.icon-dobr-logo .path4:before {
  content: "\e908";
  margin-left: -1.2998046875em;
  color: rgb(255, 255, 255);
}
.icon-Hide_password .path1:before {
  content: "\e909";
  color: rgb(0, 122, 45);
}
.icon-Hide_password .path2:before {
  content: "\e90a";
  margin-left: -1.7138671875em;
  color: rgb(255, 255, 255);
}
.icon-magnit:before {
  content: "\e90b";
  color: #e30613;
}
.icon-menu_close:before {
  content: "\e90c";
  color: #007a2d;
}
.icon-Menu-icon:before {
  content: "\e90d";
  color: #007a2d;
}
.icon-show_password:before {
  content: "\e90e";
  color: #007a2d;
}
.icon-add_check:before {
  content: "\e90f";
  color: #007a2d;
}
.icon-arrow-slide:before {
  content: "\e912";
  color: #fff;
}

body {
  padding: 0 1em;
  font-family: $fontcr45;
  color: $color;
  font-size: 16px;
  overflow-x: hidden;
}

.ui-dialog {
  width: 285px !important;
}

.btn-primary:active:hover,
.btn-primary:active:focus {
    background-color: $whiteColor;
    border-color: $whiteColor;
}

.upload {

  h2 {
    display: none;
  }

  .img-thumbnail {
    max-height: auto;
  }

  .receipt-photo {
    margin-top: 10px;
    text-align: center;
    position: relative;

    .btn-danger {
      position: absolute;
      top: -3px;
      left: -3px;
      font-size: 0;
      border-radius: 50%;
      background-color: $pinkColor;
      border-color: $pinkColor;
      width: 30px;
      height: 30px;

      &:hover {
        background-color: $pinkColorHover;
        border-color: $pinkColorHover;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 14px;
        height: 14px;
        background: url("../img/svg/close_popup.svg") no-repeat center center;
        background-size: contain;
      }
    }
  }

  .choose-file {
    display: inline-block;
    text-align: center;
    font-family: $fontcr75;
    font-size: 16px;
    color: $pinkColor;
    min-width: 263px;
    padding: 15px;
    border: none;
    background-color: $whiteColor;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background: url("../img/svg/add_check.svg") no-repeat center center;

    }

    input {
      display: none
    }
  }

  #upload {
    display: inline-block;
    text-align: center;
    transition: all .2s linear;
    background-color: $pinkColor;
    border-radius: 40px;
    color: $whiteColor;
    font-size: 18px;
    max-width: 260px;
    padding: 26px 20px;
    border: none;
    margin-bottom: 20px;

    &:hover {
      background-color: $pinkColorHover;
    }
  }
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 5px;
}

.tutorial {

  h1 {
    display: none;
  }

  .simple-photo-block {
    text-align: center;

    img {
      max-height: auto;
    }
  }

  .btn {
    display: inline-block;
    text-align: center;
    transition: all .2s linear;
    background-color: $pinkColor;
    border-radius: 40px;
    color: $whiteColor;
    font-size: 24px;
    max-width: 260px;
    padding: 26px 20px;
    border: none;
    margin-top: 30px !important;
    margin-bottom: 20px;

    &:hover {
      background-color: $pinkColorHover;
    }
  }
}

footer {
  display: none;
}

@media (max-width: 480px) {
  .tutorial {
    .btn {
      max-width: 250px;
    }
  }
  
  .upload {
    #upload {
      font-size: 16px;
      max-width: 260px;
    }
  }
}